.time:before {
    content: "Time: ";
    font-weight: bold;
}

.author:before {
    content: "Presenter: ";
    font-weight: bold;
}

.title:before {
    content: "Title: ";
    font-weight: bold;
}

.abstract:before {
    content: "Abstract: ";
    font-weight: bold;
}


hr {
  border: 0;
  height: 1px;
  background: #000;
}
